.join-us-header-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.teamCell {
	height: 50vh;
	width: 28vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #232323;
	color: white;
	border-radius: 20px;
	font-weight: 800;
	font-size: 44px;
	cursor: pointer;
}
