.phases-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;
}

.home-phase-heading {
	background-color: white;
	color: black;
	border-radius: 20px;
	text-align: center;
	padding: 0 20px;
	h2 {
		margin: 5px;
	}
}

.home-phase-tagline {
	margin: 25px 0;
	h1 {
		margin: 0px;
		background: #7b68ee;
		background: linear-gradient(
			135deg,
			rgba(123, 104, 238, 1) 0%,
			rgba(14, 51, 134, 1) 100%
		);
		background-size: cover;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-size: clamp(25px, 6 vw, 64px);
	}
}

.home-phase-text {
	width: 75%;
	font-size: clamp(13px, 3.5vw, 20px);
}
