* {
	user-select: none;
}

@font-face {
	font-family: "Exorts Compressed";
	src: url("exorts/exortscompressed-Black.ttf"),
		url("exorts/exortscompressed-Bold.ttf"),
		url("exorts/exortscompressed-Regular.ttf"),
		url("exorts/exortscompressed-Medium.ttf"),
		url("exorts/exortscompressed-Medium.ttf"),
		url("exorts/exortscompressed-SemiBold.ttf");
}

:root {
	--font-size: clamp(15px, 1.8vh, 30px);
	--font-size-responsive: clamp(15px, 3.5vh, 30px);
	--height_word_container: clamp(23px, 2.5vh, 38px);
	--height_word_container_responsive: clamp(33px, 4.65vh, 48px);
}

body {
	background-color: black;
	color: white;
	height: 100vh;
	width: 100%;
}

.entry-bg {
	height: 100%;
	background-color: #232323;
}

.project-hero-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.project_greet {
	font-family: "Ubuntu", sans-serif;
	font-size: clamp(16px, 2vh, 32px);
	position: relative;
	margin-bottom: -10px;
}

.project_letter_container {
	height: clamp(180px, 21vw, 460px);
	line-height: clamp(180px, 21vw, 460px);
	position: relative;
	overflow: hidden;
}
.project_letter {
	position: relative;
	font-family: "Exorts Compressed";
	font-size: clamp(150px, 20vw, 450px);
	top: 0;
}
.project_slogan {
	font-family: "Ubuntu", sans-serif;
	font-size: var(--font-size);
	position: relative;
	top: -30px;
	margin-top: -5px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.words_container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	height: var(--height_word_container);
	border-radius: 6px;
	overflow: hidden;
}

.words {
	background: linear-gradient(
		90deg,
		rgb(136, 138, 229) 0%,
		rgb(30, 10, 65) 100%
	);
	position: relative;
	font-weight: bold;
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@media (width>768px) {
	.project_greet {
		font-size: clamp(16px, 3.7vh, 32px);
		margin-bottom: -20px;
	}
	.project_slogan {
		font-size: var(--font-size-responsive);
	}
	.words_container {
		height: clamp(33px, 4.65vh, 48px);
		margin-top: -3px;
	}
	#word1 {
		margin-top: 2px;
	}
}
