#root {
	max-width: 100%;
	text-align: center;
	scroll-behavior: smooth;
}
/* App.css */
#reload-fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	pointer-events: none;
}

#reload-fade.hide {
	opacity: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffffb3;
	backdrop-filter: blur(10px);
	z-index: 1000;
	box-shadow: inset 0px 0px 15px 5px transparent;
}

.footer {
	height: 35vh;
	width: 100%;
	background-color: #ffffff;
	color: #000000;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 8px;
	div:first-child {
		align-items: start;
		gap: 3px;
	}
	div {
		display: flex;
		flex-direction: column;
		grid-row: span 4 / span 4;
		padding: 0 10px;
		align-items: start;
	}
	div:last-child {
		grid-column: span 5 / span 5;
		grid-row-start: 5;
		margin-top: 20px;
		align-items: center;
	}

	h2,
	h3 {
		margin: 0;
		margin-top: 1.5rem;
		margin-bottom: 5px;
	}

	h5 {
		margin: 0;
	}
	.subscribe-to {
		cursor: pointer;
		background: #000000;
		border: none;
		text-align: end;
		border-radius: 20px;
		padding: 5px;
		transition: all 0.3s cubic-bezier(0.94, 0.7, 0, 0.52);
		height: 30px;
		width: 30px;
		i {
			font-size: 20px;
			transform: rotate(-90deg);
			transition: all 0.3s cubic-bezier(0.94, 0.7, 0, 0.52);
		}
	}
	.subscribe-to:hover {
		border-radius: 20px;
		width: 100%;
		i {
			transform: rotate(0deg);
		}
	}

	a {
		text-decoration: none;
		color: black;
		i {
			font-size: 20px;
			margin-right: 10px;
		}
		.fa-discord {
			font-size: 14px;
		}
	}
	a:hover {
		text-decoration: underline;
		color: blue;
	}
}

/* Responsive Footer */

@media (max-width: 600px) {
	.footer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, auto);
		height: auto;
		gap: 12px;
		font-size: 0.95rem;
	}
	.footer > div {
		grid-row: auto;
		margin-bottom: 12px;
		align-items: flex-start;
	}
	.footer h2,
	.footer h3 {
		margin-top: 1rem;
		font-size: 1.1rem;
	}
	.footer h5 {
		font-size: 1rem;
	}
	.footer div:last-child {
		grid-column: span 1 / span 1;
		grid-row-start: 8;
		margin-top: 10px;
		text-align: center;
		/* width: 100%; */
	}
	.footer .social_links_section a {
		margin-right: 10px;
		font-size: 1.2rem;
	}
	.footer .contact_section .email {
		font-size: 0.95rem;
		word-break: break-all;
	}
}
